<div class="secont">
	<div class="sec-header">		
	  <h1>关于我们 <small>公司简介</small></h1>
	  <p>首页 / 关于我们 / 公司简介</p>
	</div>

	<div class="about">
		<div class="left">
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-2 col-sm-2  col-xs-3 left">
				    <div class="tab">
							<span>关于大疆</span>
							<a href="" class="active"> 公司简介</a>
							<a href=""> 联系我们</a>
						</div>
					</div>
					<!-- <div class="col-md-1 col-sm-1  col-xs-1"></div> -->
					<div class="col-md-9 col-sm-9  col-xs-8 right">
						<p>我常常在想，皇帝穿着所谓最美的新衣游街，却只有孩子敢指出真相。而现在的社会有那么多的问题，却连敢大声指责的孩子都没有了。事实上，没有不需要埋头苦干就能获得的成功，没有只靠PPT就能得到的财富，没有从天而降的高科技。追求卓越，需要无数苦思冥想的深夜，需要连续工作72小时的执着，更需要敢于大声说出真相的勇气。<br><br>

真正美的事物极具感染力，然而我们却鲜有能够打动世界的科技产品、文学及艺术作品，缺少文化价值观的输出，只能对舶来文化趋之若鹜。 <br><br>

DJI就是个敢于说真话的孩子。这里由一群从不妥协、极富洞见、坚持梦想的人聚合而成。我们坚信实干而非投机，坚信梦想而非功利。我们坚决践行全新的文化价值观和思维方法论，从创始之初至今从未改变。
</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>