<div class="about w1200">
	<div class="about-heaer">
		<img src="/images/about.jpg" alt="">
	</div>
	<div class="about-cont">
		<div class="title">
			<img src="/images/about-title.png" alt="" width="100%">
		</div>
		<div class="img">
			<img src="/images/about-img.jpg" alt="">
		</div>
		<div class="jieshao">
			<p>&nbsp&nbsp&nbsp&nbsp深圳市阳航科技有限公司是一家专注于移动互联网的公司，启动于2014年下半年。自公司成立半年以来，陆续组建了若干项目团队，打造出了几款基于社群经济的现象级产品：全员分销、
联盟平台、
平台硬件、
运营服务等。
      <br><br>
&nbsp&nbsp&nbsp&nbsp阳航科技坚持以产品为核心，专注服务于移动互联网浪潮下的社群经济各种形态，立足于信息技术研发服务领域，以市场为基础，以雄厚的技术实力为后盾，致力于加速推动社群经济网络化、信息化、国际化进程，倾力构建健康的社群经济生态圈，开启社群经济新时代。</p>
		</div>
	</div>
	<div class="contact-cont">
		<div class="contact-title">
			<img src="/images/contact-title.png" alt="" width="100%">
		</div>
		<div class="contact-desc">
			<div class="com-name">
				深圳市阳航科技有限公司
			</div>
			<div class="adds">
				<i class="fa fa-home fa-3g"></i>公司地址：深圳市龙岗区坂田街道长坑路东二巷五号楼二层
			</div>
			
			<div class="tel">
			<i class="fa fa-phone-square fa-3g"></i>
				0755-89953100
			</div>
			<div class="contact-img">
				<img src="/images/contact-img.jpg" alt="">
			</div>
		</div>
	</div>
</div>