<div class="erji-header">
	<img src="/images/barner_fenxiao.png" alt="" width="100%">
</div>
<div class="erji-main">
	<div class="title">
		<img src="/images/pro_js.png" alt="">
		<p>
			全员分销是基于微信公众平台上的线上自发传播裂变商业模式，在微信营销的网络经济时代企业营销模式的一种创新，是伴随着微信营销的火热而兴起的一种网络营销方式。
		</p>
	</div>
	<div class="a-part">
		<div class="left">
			<img src="/images/fenxiao1.png" alt="" width="350px">
		</div>
		<div class="right marginleft20">
			<p><span class="number">01</span>更有效的激励员工，线下拿工资，线上拿佣金，双丰收。</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;">
		<div class="left">
			<p><span class="number">02</span>让客户会员一体化，会员即是消费者，又是投资者也是经营者。</p>
		</div>
		<div class="right marginleft20">
			<img src="/images/fenxiao2.jpg" alt="" width="250px">	
		</div>
	</div>
	<div class="a-part">
		<div class="left" style="padding-left: 40px;padding-top: 30px;">
			<img src="/images/fenxiao3.png" alt="" width="350px">
		</div>
		<div class="right marginleft20">
			<p><span class="number">03</span>通过线上自发传播裂变，更有效的推广自己的门店或企业。</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;margin-bottom: 100px;">
		<div class="left">
			<p><span class="number">04</span>让会员有更多的选择，更方便、更快捷，全天候24小时购物。</p>
		</div>
		<div class="right marginleft20" style="padding-top: 20px;">
			<img src="/images/fenxiao4.jpg" alt=""  width="300px">	
		</div>
	</div>
</div>