<div class="erji-header">
	<img src="/images/banner_fuwu.png" alt="" width="100%">
</div>
<div class="erji-main">
	<div class="title">
		<img src="/images/pro_js.png" alt="">
		<p>
			全员分销是基于微信公众平台上的线上自发传播裂变商业模式，在微信营销的网络经济时代企业营销模式的一种创新，是伴随着微信营销的火热而兴起的一种网络营销方式。
		</p>
	</div>
	<div class="a-part">
		<div class="left" style="padding-top: 20px;">
			<img src="/images/fuwu1.jpg" alt="" width="350px">
		</div>
		<div class="right marginleft20" style="margin-left: 170px;">
			<p><span class="number">01</span>公众号注册搭建</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;">
		<div class="left">
			<p><span class="number">02</span>微商城代运营</p>
		</div>
		<div class="right marginleft20" style="margin-left: 250px;">
			<img src="/images/fuwu2.jpeg" alt="" width="300px">	
		</div>
	</div>
	<div class="a-part">
		<div class="left" style="padding-top: 20px;">
			<img src="/images/fuwu3.jpg" alt="" width="350px">
		</div>
		<div class="right marginleft20" style="margin-left: 170px;">
			<p><span class="number">03</span>O2O落地方案</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;">
		<div class="left">
			<p><span class="number">04</span>营销活动策划</p>
		</div>
		<div class="right marginleft20" style="margin-left: 250px;">
			<img src="/images/fuwu4.jpg" alt="" width="250px">	
		</div>
	</div>
	<div class="a-part">
		<div class="left" style="padding-top: 20px;">
			<img src="/images/fuwu5.png" alt="" width="250px">
		</div>
		<div class="right marginleft20" style="margin-left: 270px;">
			<p><span class="number">05</span>微商城装修</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;">
		<div class="left">
			<p><span class="number">06</span>新媒体推广</p>
		</div>
		<div class="right marginleft20" style="margin-left: 250px;padding-top: 20px;">
			<img src="/images/fuwu6.jpg" alt="" width="300px">	
		</div>
	</div>
	<div class="a-part">
		<div class="left" style="padding-top: 10px;padding-left: 20px;">
			<img src="/images/fuwu7.jpg" alt="" width="250px">
		</div>
		<div class="right marginleft20" style="margin-left: 270px;">
			<p><span class="number">07</span>微信硬件</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;margin-bottom: 100px;">
		<div class="left">
			<p><span class="number">08</span>视觉设计</p>
		</div>
		<div class="right marginleft20" style="margin-left: 250px;">
			<img src="/images/fuwu8.jpg" alt="" width="300px">	
		</div>
	</div>
	
</div>