<div class="banner_cont">
	<div class="banner">
		<ul class="img">
			<li><img src="/images/i1.png" alt=""></li>
			<li><img src="/images/i2.png" alt=""></li>
			<li><img src="/images/i3.png" alt=""></li>
			<li><img src="/images/i4.png" alt=""></li>
		</ul>

		
	</div>
	<ul class="num">
		<li class="on"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>	
</div>
<div class="index_pro">
	<div class="w1200">
		<div class="index_title">
			<img src="/images/in_title1.png" alt="">
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/b-fenxiao.jpg" alt="" width="80px">
				<h2>全员分销</h2>
				<h4>基于微信公众平台搭建的全员分销商城</h4>
			</p>
			<div class="pro_js">
				
				<div class="js_desc"><span>打造人人都是消费者，人人都是经营者的
				<br><br>
				全员分销系统，帮您实现消费即是投资。<br><br></span></div>
			</div>
			<button class="js_button"><a href="/fenxiao">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/b-pingtai.jpg" alt="" width="80px">
				<h2>联盟平台</h2>
				<h4>去中心化思维，打造去中心化平台</h4>
			</p>
			<div class="pro_js">
			
				<div class="js_desc"><span>你是分销商，我可以帮助匹配最质优价廉的供应商<br>
				你是供应商，我可以帮助匹配全国最优质的分销商</span></div>
			</div>
			<button class="js_button"><a href="/lianmeng">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/b-yingjian.jpg" alt="" width="80px">
				<h2>平台硬件</h2>
				<h4>软硬件结合，高效带来流量与销量</h4>
			</p>
			<div class="pro_js">
	
				<div class="js_desc"><span>有商城，有产品，有分销商，就够了
				<br>NO.NO.NO利用平台加硬件，多样吸粉带来流量与销量<br>
				质量要有，数量也得跟上</span></div>
			</div>
			<button class="js_button"><a href="/yingjian">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/b-fuwu.jpg" alt="" width="80px">
				<h2>运营服务</h2>
				<h4>创新的软件应用模式</h4>
			</p>
			<div class="pro_js">
			
				<div class="js_desc"><span>基于移动互联网为您提供软件服务，成功的互联网公司模式，摈弃传统思维定式，实现创新业务经营的互联网化。
				<br><br></span></div>
			</div>
			<button class="js_button"><a href="/fuwu">+查看更多</a></button>
		</div>
	</div>
</div>
<div class="index_youshi">
	<div class="w1200">
		<div class="index_title">
			<img src="/images/in_title2.png" alt="">
		</div>
		<div class="index_title2">
			<span>移动互联网微营销服务领导者</span>
		</div>
		<div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys01.png" alt="">
        	</div>
        	<h4>专注</h4>
        	<p>专注互联网移动电商10年，百万用户的选择与信赖，与国内外众多优质渠道深度合作，强势资源覆盖全网。</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys02.png" alt="">
        	</div>
        	<h4>专业</h4>
        	<p>倾力打造出几款基于互联网+社群经济的现象级产品：全员分销，联盟平台，平台插件，平台硬件，运营服务。</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys03.png" alt="">
        	</div>
        	<h4>技术</h4>
        	<p>拥有来自华工大、深大毕业的研发团队，具备多年互联网开发经验，持续领跑移动互联网产品开发与研究领域</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys04.png" alt="">
        	</div>
        	<h4>服务</h4>
        	<p>精英客服团队，凭借优质的服务、创新进取的精神、为您提供贴心的售前、售中、售后一体化服务。</p>
        </div>

	</div>
</div>
<div class="w1200">
<div class="hezuo">
	<p class="title">
		<img src="/images/hzhb_img_03.png" alt="">
	</p>
	<div class="db">
		
			<ul>
				<li><span class="pic_box"><img src="/images/bd.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/jd.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/gg.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/wx.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/360.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/te.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/tb.png" alt=""></span></li>
			</ul>
	
	</div>
</div>
</div>