    <!-- Slideshow 4 -->
  <div id="wrapper">
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <img src="/img/slide3.jpg" alt="">
          <p class="caption">
            This is a caption <br>
            holle,<br>
            it's a happy day.</p>
        </li>
        <li>
          <img src="/img/slide2.jpg" alt="">
          <p class="caption">
            This is another caption
            holle,<br>
            it's a happy day.
          </p>
        </li>
        <li>
          <img src="/img/3.jpg" alt="">
          <p class="caption">The third caption</p>
        </li>
      </ul>
    </div>
  </div>

<div class="main" style="float: left">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="index thumbnail">
        <a href="/about"><img src="/img/company.png" alt="..."></a>
        <div class="caption">
          <h3>诚也科技</h3>
          <p></p>
          
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="index thumbnail">
        <a href="/news?type=company"><img src="/img/news.png" alt="..."></a>
        <div class="caption">
          <h3>新闻动态</h3>
          <p></p>
          
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="index thumbnail">
        <a href=""><img src="/img/product.jpg" alt="..."></a>
        <div class="caption">
          <h3>产品中心</h3>
          <p></p>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
