<div class="erji-header">
	<img src="/images/barner_lianmeng.png" alt="" width="100%">
</div>
<div class="erji-main">
	<div class="title">
		<img src="/images/pro_js.png" alt="">
		<p>
			联盟平台是基于自身极高的订单转化率服务于各位联盟会员，我们致力于不断提升最终用户的预定体验来提升联盟会员网站的流量转化率，与广大联盟会员一起丰富现有的网络资源和推展更多的网络渠道，速建通微商联盟供货商平台，千万粉丝为您分销，快速提升销量。
		</p>
	</div>
	<div class="a-part">
		<div class="left" style="padding-left: 30px;">
			<img src="/images/lianmeng1.png" alt="" width="250px">
		</div>
		<div class="right marginleft20" style="margin-left: 150px;">
			<p><span class="number">01</span>利用实体+互联网，可一站在线采购。</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;">
		<div class="left">
			<p><span class="number">02</span>建立去中心化平台，只有商品订单信息。</p>
		</div>
		<div class="right marginleft20" style="margin-left: 150px;">
			<img src="/images/lianmeng2.jpg" alt="" width="200px">	
		</div>
	</div>
	<div class="a-part">
		<div class="left" style="padding-left: 40px;padding-top: 30px;">
			<img src="/images/lianmeng3.jpg" alt="" width="350px">
		</div>
		<div class="right marginleft20">
			<p><span class="number">03</span>供应优质商品，快递配送直达客户终端。</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;margin-bottom: 100px;">
		<div class="left">
			<p><span class="number">04</span>专业零售服务，线上线下互动一体化。</p>
		</div>
		<div class="right marginleft20" style="padding-top: 40px;margin-left: 100px; ">
			<img src="/images/lianmeng4.jpg" alt=""  width="350px">	
		</div>
	</div>
</div>