
<div class="news">
	<div class="news-header w1200">
		<img src="/images/barner_news.jpg" alt="" width="100%">
	</div>
	<div class="w1200">
		<div class="left">
			<div class="title">
				<span class="en">新闻中心</span>
				<span class="us">News Center</span>
			</div>
			<ul>
			<% if(news.type == 'company') { %>
				<li><a href="/news?type=company" class="active">公司新闻</a></li>
			<% } %>
			<% if(news.type != 'company') { %>
				<li><a href="/news?type=company">公司新闻</a></li>
			<% } %>
			<% if(news.type == 'group') { %>
				<li><a href="/news?type=group" class="active">行业动态</a></li>
			<% } %>
			<% if(news.type != 'group') { %>
				<li><a href="/news?type=group">行业动态</a></li>
			<% } %>
				
			</ul>
		</div>
		<div class="right">
			<div class="position">
				<i class="fa fa-home fa-lg" style="color:#888;margin-right: 5px"></i>
				<a href="/"> 首页</a>
				 > 
				<a href="">新闻动态</a>
				 > 
				<% if(news.type =='company') { %>
				<a href="/news?type=company">公司新闻</a>
				<% } %>
				<% if(news.type =='group') { %>
				<a href="/news?type=group">行业动态</a>
				<% } %>
			</div>
			<div class="news-cont">
				<h2 class="title"><%= news.title %></h2>
				<p class="time">发布日期： <%= news.create_at.toLocaleDateString() %></p>
				<div class="desc"><%- news.desc %></div>
			</div>

		</div>
	</div>
</div>