<div class="secont">
	<div class="sec-header">		
	  <h1>新闻中心 <small>公司新闻</small></h1>
	  <p>首页 / 新闻中心 / 公司新闻</p>
	</div>

	<div class="sec-main news">
		<div class="container-fluid">
			<div class="row">
			  <div class="col-md-7 col-sm-7  col-xs-7  left">
			    <div class="thumbnail">
			      <img src="/img/new1.jpg" alt="...">
			      <div class="caption">
			        <p class="title">
								<a href="">DJI大疆创新亮相太阳能光伏展引关注</a></p>
			        <p class="time">2016-6-3</p>
			        
			      </div>
			    </div>

			    <div class="thumbnail">
			      <img src="/img/new1.jpg" alt="...">
			      <div class="caption">
			        <p class="title">
								<a href="">DJI大疆创新亮相太阳能光伏展引关注</a></p>
			        <p class="time">2016-6-3</p>
			        
			      </div>
			    </div>

			    <div class="thumbnail">
			      <img src="/img/new1.jpg" alt="...">
			      <div class="caption">
			        <p class="title">
								<a href="">DJI大疆创新亮相太阳能光伏展引关注</a></p>
			        <p class="time">2016-6-3</p>
			        
			      </div>
			    </div>
			  </div>
				<div class="col-md-1 col-sm-1  col-xs-0"></div>
			   <div class="col-md-4 col-sm-4  col-xs-5 right">
						<div class="title">
							新闻中心
						</div>
						<a href="">公司新闻</a>
						
						<a href="">行业动态</a>

						<div class="media">
							<div class="title">社交媒体</div>
							<a href=""><i class="fa fa-facebook-square fa-lg"></i>facebook</a>
							<a href=""><i class="fa fa-twitter-square fa-lg"></i>twitter</a>
							<a href=""><i class="fa fa-youtube-square fa-lg"></i>youtube</a>
							<a href=""><i class="fa fa-vimeo-square fa-lg"></i>vimeo</a>
							<a href=""><i class="fa fa-weibo fa-lg"></i>weibo</a>
						</div>
			   </div>
			</div>
		</div>
		<nav class="fenye">
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>