
<div class="news">
	<div class="news-header w1200">
		<img src="/images/barner_news.jpg" alt="" width="100%">
	</div>
	<div class="w1200">
		<div class="left">
			<div class="title">
				<span class="en">新闻中心</span>
				<span class="us">News Center</span>
			</div>
			<ul>
			<% if(news[0].type == 'company') { %>
				<li><a href="/news?type=company" class="active">公司新闻</a></li>
			<% } %>
			<% if(news[0].type != 'company') { %>
				<li><a href="/news?type=company">公司新闻</a></li>
			<% } %>
			<% if(news[0].type == 'group') { %>
				<li><a href="/news?type=group" class="active">行业动态</a></li>
			<% } %>
			<% if(news[0].type != 'group') { %>
				<li><a href="/news?type=group">行业动态</a></li>
			<% } %>
				
			</ul>
		</div>
		<div class="right">
			<div class="position">
				<i class="fa fa-home fa-lg" style="color:#888;margin-right: 5px"></i>
				<a href=""> 首页</a>
				 > 
				<a href="">新闻动态</a>
				 > 
				<% if(news[0].type =='company') { %>
				<a href="/news?type=company">公司新闻</a>
				<% } %>
				<% if(news[0].type =='group') { %>
				<a href="/news?type=group">行业动态</a>
				<% } %>
			</div>
			<ul>
				<% news.forEach(function(e) { %>
				<li><i class="fa fa-file-text-o" style="color: #444;margin-right:5px;"></i> <a href="/newsPage?type=<%= e.type %>&id=<%- e._id %>"><%= e.title %></a> <a class="time"><%= e.create_at.toLocaleDateString() %></a></li>
				<% }) %>
			</ul>
			<nav class="fenye">
		  <ul class="pagination">

		    <li>
		      <a href="/news?type=<%= type %>&p=<%= current_page-1 %>" aria-label="Previous">
		        <span>&laquo;</span>
		      </a>
		    </li>
		    <% for(var j=1; j<= Math.ceil(count/3); j++) { %>

		    <% if(current_page == j) { %>
		    <li><a class="active" href="/news?type=<%= type %>&p=<%= j %>"><%= j %></a></li>
		    <% } %>
		    
		    <% if(current_page != j) { %>
		    <li><a href="/news?type=<%= type %>&p=<%= j %>"><%= j %></a></li>
		    <% } %>
		    <% } %>
		    <li>
		      <a href="/news?type=<%= type %>&p=<%= current_page+1 %>" aria-label="Next">
		        <span>&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
</div>