<div class="erji-header">
	<img src="/images/banner_yingjian.png" alt="" width="100%">
</div>
<div class="erji-main">
	<div class="title">
		<img src="/images/pro_js.png" alt="">
		<p>
			全员分销是基于微信公众平台上的线上自发传播裂变商业模式，在微信营销的网络经济时代企业营销模式的一种创新，是伴随着微信营销的火热而兴起的一种网络营销方式。
		</p>
	</div>
	<div class="a-part">
		<div class="left" style="padding-top: 20px;">
			<img src="/images/yingjian1.jpg" alt="" width="350px">
		</div>
		<div class="right marginleft20" style="margin-left: 70px;">
			<p><span class="number">01</span>可在门店体验商品带动线上线下一体化。</p>
		</div>
	</div>
	<div class="a-part" style="padding-left: 40px;margin-bottom: 100px;">
		<div class="left">
			<p><span class="number">02</span>多样吸粉带来流量与销量。</p>
		</div>
		<div class="right marginleft20" style="margin-left: 150px;">
			<img src="/images/yingjian2.jpg" alt="" width="300px">	
		</div>
	</div>
	
</div>